body {
    font-family: "Raleway";
}

.alert-yellow-custom {
    background-color: #FFCA2C;
}

.mandatory {
    font-size: 2em;
    color: red;
    display: inline;
}

.mandatory.not-mandatory {
    visibility: hidden;
}

.form-control.custom-box {
    width: 20em;
}

.form-control.custom-box-country {
    width: 39em;
}